<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Poll Watcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>305A41251B83FE0C00A3D620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>305A413C1B83FE0C00A3D620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>305A41471B83FE0C00A3D620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
